.card {
    border: 1px solid #FFFFFF;
    position: absolute;
    width: 392px;
    height: 578px;
    left: 80px;
    top: 506px;
  
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
  
  }
  
  .bg-img {
    background: url(Checker.png);
    background-size: cover;
    min-height: 180px;
    background-position: center;
    background-color: #FFFFFF;
  }
  
  .content {
    padding: 15px;
    position: static;
    width: 336px;
    height: 24px;
    left: 22px;
    top: 0px;
  }
  
  button {
    position: static;
    width: 360px;
    height: 24px;
    left: 0px;
    top: 238px;

    /* Inside Auto Layout */
    flex: none;
    order: 1;
    align-self: left;
    margin: 0px 16px;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
  }